{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-xl font-bold">Ritten voor {{ sniffer }}</h1>
Van {{ fromDate|date("d-m-Y H:i") }} tot {{ toDate|date("d-m-Y H:i") }}<br>
    <div id="snuffelMap" style="height: 700px;"></div>

    <a class="btn btn-primary" href="/sniffer/{{ sniffer }}/snif/{{ fromDate|date("Y-m-d") }}">Opnieuw inlezen ({{ fromDate|date("d-m-Y") }})</a>
    <a class="btn btn-primary" href="/sniffer/{{ sniffer }}">Bekijk alle dagen van deze sniffer</a>
    <a class="btn btn-primary" href="/sniffer/{{ sniffer }}/show/{{ dayEarlier|date("Y-m-d") }}/{{ dayEarlier|date("Y-m-d") }}">Dag eerder</a>
    <a class="btn btn-primary" href="/sniffer/{{ sniffer }}/show/{{ dayLater|date("Y-m-d") }}/{{ dayLater|date("Y-m-d") }}">Dag later</a>
{% endblock %}

{% block javascripts %}
    <script>
        var snuffelMap = L.map('snuffelMap').setView([52.05809, 5.07176], 13);
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
            }).addTo(snuffelMap);

        var latlngs = {{ polyline }};
        var polyline = L.polyline(latlngs, {color: 'red'}).addTo(snuffelMap);

        snuffelMap.fitBounds(polyline.getBounds());
    </script>
{% endblock %}
