{% extends 'base.html.twig' %}

{% block body %}
    Snuffel <i class="fas fa-angle-double-right"></i> <a class="" href="/sniffer/{{ sniffer }}">{{ sniffer }}</a>
    <div class="flex mb-4">
        <h2>Sniffer</h2>
        Vandaag:
        <a href="/sniffer/{{ sniffer }}/show/{{ today|date('Y-m-d') }}/{{ today|date('Y-m-d') }}/pm25" class="btn btn-sm btn-primary"><2.5&mu;m</a>
        <a href="/sniffer/{{ sniffer }}/show/{{ today|date('Y-m-d') }}/{{ today|date('Y-m-d') }}/pm10" class="btn btn-sm btn-primary"><10&mu;m</a>
        <a href="/sniffer/{{ sniffer }}/snif/{{ today|date('Y-m-d') }}" class="btn btn-sm btn-primary"><i class="fas fa-redo"></i> Snif</a><br>
        Beschikbare data:<br>
            {% for day in dates %}
                <a href="/sniffer/{{ sniffer }}/show/{{ day.snifDay }}/{{ day.snifDay }}">{{ day.snifDay }}</a>
                <a href="/sniffer/{{ sniffer }}/show/{{ day.snifDay }}/{{ day.snifDay }}/pm25" class="btn btn-sm btn-outline-secondary"><2.5&mu;m</a>
                <a href="/sniffer/{{ sniffer }}/show/{{ day.snifDay }}/{{ day.snifDay }}/pm10" class="btn btn-sm btn-outline-secondary"><10&mu;m</a>
                <a href="/sniffer/{{ sniffer }}/snif/{{ day.snifDay }}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-redo"></i> Snif</a>
                <br>
            {% endfor %}
        </p>
    </div>
{% endblock %}