{% extends 'base.html.twig' %}

{% block body %}
    Snuffel <i class="fa fa-angle-double-right"></i> <a class="" href="/sniffer/{{ sniffer }}">{{ sniffer }}</a> <i class="fa fa-angle-double-right"></i> Snif

    <h3 class="">Inlezen</h3>
    Datum: {{ date|date("d-m-Y") }}<br>
    Aantal ingelezen punten {{ measurements }}<br>
    Reeds gevonden punten {{ foundMeasurements }}<br>
    <a class="btn btn-primary" href="/sniffer/{{ sniffer }}/show/{{ date|date("Y-m-d") }}/{{ date|date("Y-m-d") }}"><i class="fa fa-map"></i> Bekijk op kaart</a>
    <p>
    <a class="btn btn-primary" href="/sniffer/{{ sniffer }}/snif/{{ yesterday|date("Y-m-d") }}"><i class="fa fa-angle-double-left"></i> {{ yesterday|date("d-m-Y") }}</a>

    <a class="btn btn-primary" href="/sniffer/{{ sniffer }}/snif/{{ tomorrow|date("Y-m-d") }}"><i class="fa fa-angle-double-right"></i> {{ tomorrow|date("d-m-Y") }}</a>
    </p>
{% endblock %}
